.header-headercomponents {
    color: green;
}

.table-students-list {
    font-size: 20px;
    background-color: aquamarine;
}

.add-student-form-lebel {
    font-size: 20px;
    font-weight: 500;
    color: red;
}

.add-student-form {
    width: 300px; height: 300px;
    margin: auto;
    background: aquamarine;
    border: 3px solid black;
    border-radius: 20px;
}

.delete-student-form {
    width: 300px; height: 300px;
    margin: auto;
    background: aquamarine;
    border: 3px solid black;
    border-radius: 20px;
}

.update-student-form {
    width: 300px; height: 350px;
    margin: auto;
    background: aquamarine;
    border: 3px solid black;
    border-radius: 20px;
}
